* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Hind+Siliguri:wght@300;400&family=Open+Sans:wght@300&family=Poppins:wght@300&display=swap');

h1 {
  text-align: center;
}

body {
  /* background-color: #3D94F6; */
  background-image: url('./images/bg.jpeg');
  font-family: 'Poppins', sans-serif;
}

.header, .div-header{
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.div-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 500px;
  border: 1px solid black;
  border-radius: 6px;
  justify-content: space-between;
  padding: 15px;
  background-color: rgba(255, 254, 254, 0.62);
}

.div-card {
  display: flex;
  color: black;
  flex-direction: column;
  width: 250px;
  align-items: center;
  border: 5px solid white;
  border-radius: 10px;
  text-align: center;
  padding: 5px;
  margin: 10px;
  background-color: #a3c0e1;
}

.input-text {
  border-radius: 5px;
  border: 1px solid gray;
  padding: 10px;
  height: 4px;
  margin: 5px;
  }

.btn-submit {
    cursor: pointer;
    background: white;
    border-radius: 5px;
    color: #3D94F6;
    height: 21px;
    width: 80px;
    font-family: Open Sans;
    font-weight: 700;
    border: 1px solid #3D94F6;
}

.labels {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.div-preview {
  margin: 5px;
  display: flex;
  justify-content: center;
}

#text-area {
    height: 50px;
}

.select {
    width: 203px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid gray;
}

.super-trunfo {
    margin-right: 100px;
}

.div-btn {
    display: flex;
    justify-content: center;
}

.div-btn:hover {
    opacity: 0.8;
}

.name-photo {
  width: 230px;
  height: 240px;
  border: 2px solid white;
  border-radius: 6px;
  margin-top: 10px;
}

.photo-card {
  width: 215px;
  height: 200px;
  border-radius: 6px;
}

.attrs {
  width: 230px;
  display: flex;
  justify-content: space-around;
  align-content: center;
  margin-top: 5px;
}

.atributo {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 3px;
}

.div-desc {
  border: 2px solid white;
  width: 220px;
  height: 50px;
  padding: 5px;
  border-radius: 6px;
}

.deck-card {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-bottom: 10px;
  border: 1px solid white;
}

.deck-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.btn-remove {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 240px;
  color: white;
}

.logoredesocial {
  width: 60px;
  padding: 10px;
}

.logoredesocial:hover {
  transform: scale(1.1);
}

.p {
  text-align: center;
}

.filter {
  color: white;
  font-weight: 700;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  align-self: center;
  border: 1px solid red;
}
